@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes slideIn {
    from {
      transform: translateY(20px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .carouselContainer {
    background-color: #1a1a1a;
    padding: 80px 50px 80px 75px;
    text-align: start;
    animation: fadeIn 1s ease-in-out;
      font-size: 1.875rem;
        line-height: 2.25rem;
  }
  
  .title {
    color: #fff;
    font-size: 1.856rem;
    margin-bottom: 30px;
    animation: slideIn 0.5s ease-in-out;
    position: relative;
    display: inline-block;
  }
  
  /* .title::after {
    content: '';
    display: block;
    width: 50%;
    height: 2px;
    background: linear-gradient(to right, #00ff00, #00ffff);
    margin: 10px auto 0;
  } */
  
  .carouselItem {
    padding: 10px;
  }
  
  .categoryCard {
    background: linear-gradient(to right, #232526, #414345);
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    transition: border 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    height:390px;
  }

  .categoryCard img {
     height:330px;
  }
  
  .categoryImage {
    width: 100%;
    height: 300px;
    object-fit: cover;
    transition: opacity 0.3s ease;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .categoryCard:hover .overlay {
    opacity: 1;
  }
  
  .viewMoreButton {
    background: linear-gradient(to right, #00ff00, #00ffff);
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .viewMoreButton:hover {
    background: linear-gradient(to right, #00cc00, #00cccc);
  }
  
  .categoryName {
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 15px 0;
    background: #333;
    border-radius: 0 0 15px 15px;
    text-align: center;
  }
  @media (max-width: 768px) {
    .carouselItem {
      height: 200px !important;
      width: 100px;
    }
    .categoryCard img {
      height: 200px;
    }
    .categoryName {
      font-size: 12px;
    }

     .categoryCard {
    height:250px;
  }
  }